// .splitpanes.my-theme {
//   .splitpanes__pane {
//     background-color: inherit;
//     margin-top: 2.5rem;
//   }

//   .splitpanes__splitter {
//     background-color: inherit;
//     position: relative;
//     border: 1px solid #fafafa ;
//     margin-top: 2.5rem;

//     &:before {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       transition: opacity 0.4s;
//       background-color: rgba(25, 25, 25, 0.3);
//       opacity: 0;
//       z-index: 1;
//     }

//     &:hover:before {
//       opacity: 1;
//     }

//     &.splitpanes__splitter__active {
//       z-index: 2;
//       /* Fix an issue of overlap fighting with a near hovered splitter */
//     }
//   }
// }

.splitpanes.my-theme {
  .splitpanes__pane {
    background-color: inherit;
  }
  .splitpanes__splitter {
    background-color: #fafafa;
    position: absolute;

    left: 18%;

    height: 100%;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 0.4s;
      background-color: rgba(25, 25, 25, 0.3);
      opacity: 0;
      z-index: 1;
    }
    &:hover:before {
      opacity: 1;
    }
    &.splitpanes__splitter__active {
      z-index: 2; /* Fix an issue of overlap fighting with a near hovered splitter */
    }
  }
}

#app {
  height: 100%;
}
